# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/
.env/

# pip
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db